<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.havedroid.dddsched"
      android:versionCode="2"
      android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" android:maxSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".DDDNorthScheduleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ScheduleActivity" />
		<activity android:name=".SessionViewActivity" />
    </application>
</manifest>